@import url("./../../styles.scss");

.filter-wrapper {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  grid-gap: 20px;
}

button {
  width: 206px;
  font-size: 14px;
  font-family: "montserrat-extralight";
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  padding: 14px 0;
}
